.aboutContainer {
    text-align: center;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
    max-width: 400px;
    margin: auto;
  }
  
  .profilePic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    /*object-fit: cover;*/
    margin-bottom: 15px;
  }
  
  .heading {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .description {
    font-size: 16px;
    color: #666;
  }
  